In [1]:
import pandas as pd

In [2]:
#read the dataset
df = pd.read_csv(r'forest fires in brazil.csv',encoding='latin1')

In [3]:
#getting to know the dataset
df.head(10)

   year state    month  number        date
0  1998  Acre  Janeiro     0.0  1998-01-01
1  1999  Acre  Janeiro     0.0  1999-01-01
2  2000  Acre  Janeiro     0.0  2000-01-01
3  2001  Acre  Janeiro     0.0  2001-01-01
4  2002  Acre  Janeiro     0.0  2002-01-01
5  2003  Acre  Janeiro    10.0  2003-01-01
6  2004  Acre  Janeiro     0.0  2004-01-01
7  2005  Acre  Janeiro    12.0  2005-01-01
8  2006  Acre  Janeiro     4.0  2006-01-01
9  2007  Acre  Janeiro     0.0  2007-01-01

In [4]:
df.tail(10)

      year      state     month  number        date
6444  2007  Tocantins  Dezembro    13.0  2007-01-01
6445  2008  Tocantins  Dezembro     7.0  2008-01-01
6446  2009  Tocantins  Dezembro    46.0  2009-01-01
6447  2010  Tocantins  Dezembro    72.0  2010-01-01
6448  2011  Tocantins  Dezembro   105.0  2011-01-01
6449  2012  Tocantins  Dezembro   128.0  2012-01-01
6450  2013  Tocantins  Dezembro    85.0  2013-01-01
6451  2014  Tocantins  Dezembro   223.0  2014-01-01
6452  2015  Tocantins  Dezembro   373.0  2015-01-01
6453  2016  Tocantins  Dezembro   119.0  2016-01-01

In [5]:
#number of observations
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6454 entries, 0 to 6453
Data columns (total 5 columns):
year      6454 non-null int64
state     6454 non-null object
month     6454 non-null object
number    6454 non-null float64
date      6454 non-null object
dtypes: float64(1), int64(1), object(3)
memory usage: 252.2+ KB

In [7]:
#number of columns
df.shape[1]

5

In [8]:
#names of the columns
df.columns

Index(['year', 'state', 'month', 'number', 'date'], dtype='object')

In [11]:
#how is the dataset indexed?
df.index

RangeIndex(start=0, stop=6454, step=1)

In [12]:
#datatype of each column
df.dtypes

year        int64
state      object
month      object
number    float64
date       object
dtype: object

In [13]:
#check if any entries are missing
df.isnull().sum()

year      0
state     0
month     0
number    0
date      0
dtype: int64

In [16]:
#drop unrequired columns like date
df.drop(["date"],axis=1, inplace=True)

In [17]:
#checking unique months

df.month.unique()

array(['Janeiro', 'Fevereiro', 'Março', 'Abril', 'Maio', 'Junho', 'Julho',
       'Agosto', 'Setembro', 'Outubro', 'Novembro', 'Dezembro'],
      dtype=object)

In [20]:
#unique states
states = df.state.unique()
states

array(['Acre', 'Alagoas', 'Amapa', 'Amazonas', 'Bahia', 'Ceara',
       'Distrito Federal', 'Espirito Santo', 'Goias', 'Maranhao',
       'Mato Grosso', 'Minas Gerais', 'Pará', 'Paraiba', 'Pernambuco',
       'Piau', 'Rio', 'Rondonia', 'Roraima', 'Santa Catarina',
       'Sao Paulo', 'Sergipe', 'Tocantins'], dtype=object)

In [21]:
#unique years 
years = df.year.unique()
years

array([1998, 1999, 2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008,
       2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017], dtype=int64)

In [22]:
#states with highest to lowest number of forest fires in dataset
df.state.value_counts()

Rio                 717
Paraiba             478
Mato Grosso         478
Alagoas             240
Acre                239
Ceara               239
Tocantins           239
Pará                239
Sao Paulo           239
Minas Gerais        239
Espirito Santo      239
Pernambuco          239
Distrito Federal    239
Sergipe             239
Rondonia            239
Bahia               239
Goias               239
Maranhao            239
Santa Catarina      239
Roraima             239
Amapa               239
Piau                239
Amazonas            239
Name: state, dtype: int64

In [24]:
#month with highest to lowest number of forest fires
df.month.value_counts()

Janeiro      541
Fevereiro    540
Maio         540
Agosto       540
Abril        540
Novembro     540
Junho        540
Setembro     540
Julho        540
Março        540
Outubro      540
Dezembro     513
Name: month, dtype: int64

In [25]:
#summarize all columns
df.describe(include = 'all')

               year state    month       number
count   6454.000000  6454     6454  6454.000000
unique          NaN    23       12          NaN
top             NaN   Rio  Janeiro          NaN
freq            NaN   717      541          NaN
mean    2007.461729   NaN      NaN   108.293163
std        5.746654   NaN      NaN   190.812242
min     1998.000000   NaN      NaN     0.000000
25%     2002.000000   NaN      NaN     3.000000
50%     2007.000000   NaN      NaN    24.000000
75%     2012.000000   NaN      NaN   113.000000
max     2017.000000   NaN      NaN   998.000000

In [26]:
#summarize only state column

df.state.describe()

count     6454
unique      23
top        Rio
freq       717
Name: state, dtype: object

In [28]:
#total number of forest area affected grouped by states for year 1998

years= df.year.unique()
print(years)

year_info = df[df.year == years[0]]#year[0] indicates year 1998, change index to calculate later years
year_info.head(12)

single_year_state = []

for state in states:
    state_name = state
    count_fire = year_info[year_info['state'] == state].number.sum()
    obj = {"state":state_name, "count_fire":count_fire}
    single_year_state.append(obj)
    
single_year_state

[1998 1999 2000 2001 2002 2003 2004 2005 2006 2007 2008 2009 2010 2011
 2012 2013 2014 2015 2016 2017]

[{'state': 'Acre', 'count_fire': 333.0},
 {'state': 'Alagoas', 'count_fire': 172.0},
 {'state': 'Amapa', 'count_fire': 101.0},
 {'state': 'Amazonas', 'count_fire': 1061.0},
 {'state': 'Bahia', 'count_fire': 1197.582},
 {'state': 'Ceara', 'count_fire': 1688.0},
 {'state': 'Distrito Federal', 'count_fire': 46.0},
 {'state': 'Espirito Santo', 'count_fire': 240.0},
 {'state': 'Goias', 'count_fire': 1910.0959999999998},
 {'state': 'Maranhao', 'count_fire': 1276.442},
 {'state': 'Mato Grosso', 'count_fire': 2979.3990000000003},
 {'state': 'Minas Gerais', 'count_fire': 997.2390000000001},
 {'state': 'Pará', 'count_fire': 2192.3050000000003},
 {'state': 'Paraiba', 'count_fire': 3437.0},
 {'state': 'Pernambuco', 'count_fire': 463.0},
 {'state': 'Piau', 'count_fire': 2015.438},
 {'state': 'Rio', 'count_fire': 1030.11},
 {'state': 'Rondonia', 'count_fire': 208.922},
 {'state': 'Roraima', 'count_fire': 220.0},
 {'state': 'Santa Catarina', 'count_fire': 364.0},
 {'state': 'Sao Paulo', 'count_fire': 4249.211},
 {'state': 'Sergipe', 'count_fire': 93.0},
 {'state': 'Tocantins', 'count_fire': 608.077}]

In [29]:
#year 1999

year_info = df[df.year == years[1]]#year[1] indicates year 1999, change index to calculate later years
year_info.head(12)

single_year_state = []

for state in states:
    state_name = state
    count_fire = year_info[year_info['state'] == state].number.sum()
    obj = {"state":state_name, "count_fire":count_fire}
    single_year_state.append(obj)
    
single_year_state

[{'state': 'Acre', 'count_fire': 333.0},
 {'state': 'Alagoas', 'count_fire': 172.0},
 {'state': 'Amapa', 'count_fire': 101.0},
 {'state': 'Amazonas', 'count_fire': 1061.0},
 {'state': 'Bahia', 'count_fire': 1197.582},
 {'state': 'Ceara', 'count_fire': 1688.0},
 {'state': 'Distrito Federal', 'count_fire': 46.0},
 {'state': 'Espirito Santo', 'count_fire': 240.0},
 {'state': 'Goias', 'count_fire': 1910.0959999999998},
 {'state': 'Maranhao', 'count_fire': 1276.442},
 {'state': 'Mato Grosso', 'count_fire': 2979.3990000000003},
 {'state': 'Minas Gerais', 'count_fire': 997.2390000000001},
 {'state': 'Pará', 'count_fire': 2192.3050000000003},
 {'state': 'Paraiba', 'count_fire': 3437.0},
 {'state': 'Pernambuco', 'count_fire': 463.0},
 {'state': 'Piau', 'count_fire': 2015.438},
 {'state': 'Rio', 'count_fire': 1030.11},
 {'state': 'Rondonia', 'count_fire': 208.922},
 {'state': 'Roraima', 'count_fire': 220.0},
 {'state': 'Santa Catarina', 'count_fire': 364.0},
 {'state': 'Sao Paulo', 'count_fire': 4249.211},
 {'state': 'Sergipe', 'count_fire': 93.0},
 {'state': 'Tocantins', 'count_fire': 608.077}]

In [30]:
#year 2000

year_info = df[df.year == years[2]]#year[2] indicates year 2000, change index to calculate later years
year_info.head(12)

single_year_state = []

for state in states:
    state_name = state
    count_fire = year_info[year_info['state'] == state].number.sum()
    obj = {"state":state_name, "count_fire":count_fire}
    single_year_state.append(obj)
    
single_year_state

[{'state': 'Acre', 'count_fire': 434.0},
 {'state': 'Alagoas', 'count_fire': 123.0},
 {'state': 'Amapa', 'count_fire': 253.0},
 {'state': 'Amazonas', 'count_fire': 853.0},
 {'state': 'Bahia', 'count_fire': 1378.635},
 {'state': 'Ceara', 'count_fire': 2211.0},
 {'state': 'Distrito Federal', 'count_fire': 48.0},
 {'state': 'Espirito Santo', 'count_fire': 175.0},
 {'state': 'Goias', 'count_fire': 2516.2929999999997},
 {'state': 'Maranhao', 'count_fire': 1243.747},
 {'state': 'Mato Grosso', 'count_fire': 3897.266},
 {'state': 'Minas Gerais', 'count_fire': 1493.0339999999999},
 {'state': 'Pará', 'count_fire': 794.4299999999998},
 {'state': 'Paraiba', 'count_fire': 2804.0},
 {'state': 'Pernambuco', 'count_fire': 691.0},
 {'state': 'Piau', 'count_fire': 1111.6570000000002},
 {'state': 'Rio', 'count_fire': 650.0},
 {'state': 'Rondonia', 'count_fire': 867.635},
 {'state': 'Roraima', 'count_fire': 362.0},
 {'state': 'Santa Catarina', 'count_fire': 306.0},
 {'state': 'Sao Paulo', 'count_fire': 4128.0},
 {'state': 'Sergipe', 'count_fire': 17.0},
 {'state': 'Tocantins', 'count_fire': 993.5540000000001}]

In [31]:
#year 2001

year_info = df[df.year == years[3]]#year[3] indicates year 2001, change index to calculate later years
year_info.head(12)

single_year_state = []

for state in states:
    state_name = state
    count_fire = year_info[year_info['state'] == state].number.sum()
    obj = {"state":state_name, "count_fire":count_fire}
    single_year_state.append(obj)
    
single_year_state

[{'state': 'Acre', 'count_fire': 828.0},
 {'state': 'Alagoas', 'count_fire': 86.0},
 {'state': 'Amapa', 'count_fire': 1301.0},
 {'state': 'Amazonas', 'count_fire': 1297.0},
 {'state': 'Bahia', 'count_fire': 2427.651},
 {'state': 'Ceara', 'count_fire': 1847.501},
 {'state': 'Distrito Federal', 'count_fire': 64.0},
 {'state': 'Espirito Santo', 'count_fire': 130.0},
 {'state': 'Goias', 'count_fire': 2065.8630000000003},
 {'state': 'Maranhao', 'count_fire': 720.1370000000001},
 {'state': 'Mato Grosso', 'count_fire': 3088.075},
 {'state': 'Minas Gerais', 'count_fire': 2138.5969999999998},
 {'state': 'Pará', 'count_fire': 834.78},
 {'state': 'Paraiba', 'count_fire': 2073.0},
 {'state': 'Pernambuco', 'count_fire': 1080.0},
 {'state': 'Piau', 'count_fire': 730.76},
 {'state': 'Rio', 'count_fire': 857.0},
 {'state': 'Rondonia', 'count_fire': 1004.059},
 {'state': 'Roraima', 'count_fire': 1309.108},
 {'state': 'Santa Catarina', 'count_fire': 200.0},
 {'state': 'Sao Paulo', 'count_fire': 2926.0},
 {'state': 'Sergipe', 'count_fire': 24.0},
 {'state': 'Tocantins', 'count_fire': 2039.081}]

In [32]:
year_info = df[df.year == years[4]]#year[4] indicates year 2002, change index to calculate later years
year_info.head(12)

single_year_state = []

for state in states:
    state_name = state
    count_fire = year_info[year_info['state'] == state].number.sum()
    obj = {"state":state_name, "count_fire":count_fire}
    single_year_state.append(obj)
    
single_year_state

[{'state': 'Acre', 'count_fire': 1543.949},
 {'state': 'Alagoas', 'count_fire': 258.0},
 {'state': 'Amapa', 'count_fire': 862.096},
 {'state': 'Amazonas', 'count_fire': 2852.0},
 {'state': 'Bahia', 'count_fire': 2280.7},
 {'state': 'Ceara', 'count_fire': 454.10799999999995},
 {'state': 'Distrito Federal', 'count_fire': 149.0},
 {'state': 'Espirito Santo', 'count_fire': 297.0},
 {'state': 'Goias', 'count_fire': 1619.3149999999998},
 {'state': 'Maranhao', 'count_fire': 530.11},
 {'state': 'Mato Grosso', 'count_fire': 3665.5029999999997},
 {'state': 'Minas Gerais', 'count_fire': 1949.929},
 {'state': 'Pará', 'count_fire': 1265.576},
 {'state': 'Paraiba', 'count_fire': 2248.6639999999998},
 {'state': 'Pernambuco', 'count_fire': 1909.0},
 {'state': 'Piau', 'count_fire': 1503.686},
 {'state': 'Rio', 'count_fire': 2945.0},
 {'state': 'Rondonia', 'count_fire': 1452.086},
 {'state': 'Roraima', 'count_fire': 2224.0},
 {'state': 'Santa Catarina', 'count_fire': 1715.0},
 {'state': 'Sao Paulo', 'count_fire': 3539.0},
 {'state': 'Sergipe', 'count_fire': 208.0},
 {'state': 'Tocantins', 'count_fire': 1918.8780000000002}]