In [1]:
import pandas as pd

In [3]:
#read dataset
df = pd.read_csv(r'Border_Crossing_Entry_Data.csv')

In [4]:
#see the first 15 entries
df.head(15)

,Port Name,State,Port Code,Border,Date,Measure,Value,Location
0,Calexico East,California,2507,US-Mexico Border,03/01/2019 12:00:00 AM,Trucks,34447,POINT (-115.48433000000001 32.67524)
1,Van Buren,Maine,108,US-Canada Border,03/01/2019 12:00:00 AM,Rail Containers Full,428,POINT (-67.94271 47.16207)
2,Otay Mesa,California,2506,US-Mexico Border,03/01/2019 12:00:00 AM,Trucks,81217,POINT (-117.05333 32.57333)
3,Nogales,Arizona,2604,US-Mexico Border,03/01/2019 12:00:00 AM,Trains,62,POINT (-110.93361 31.340279999999996)
4,Trout River,New York,715,US-Canada Border,03/01/2019 12:00:00 AM,Personal Vehicle Passengers,16377,POINT (-73.44253 44.990010000000005)
5,Madawaska,Maine,109,US-Canada Border,03/01/2019 12:00:00 AM,Trucks,179,POINT (-68.3271 47.35446)
6,Pembina,North Dakota,3401,US-Canada Border,03/01/2019 12:00:00 AM,Bus Passengers,1054,POINT (-97.24333 48.96639)
7,Progreso,Texas,2309,US-Mexico Border,03/01/2019 12:00:00 AM,Truck Containers Empty,1808,POINT (-97.94889 26.061670000000003)
8,Portal,North Dakota,3403,US-Canada Border,03/01/2019 12:00:00 AM,Rail Containers Empty,6685,POINT (-102.54917 48.99583)
9,Champlain-Rouses Point,New York,712,US-Canada Border,03/01/2019 12:00:00 AM,Trucks,24759,POINT (-73.44694 44.98639)
10,Opheim,Montana,3317,US-Canada Border,03/01/2019 12:00:00 AM,Personal Vehicles,235,POINT (-106.40265 48.85574)
11,Neche,North Dakota,3404,US-Canada Border,03/01/2019 12:00:00 AM,Trucks,584,POINT (-97.55444 48.98611)
12,Lancaster,Minnesota,3430,US-Canada Border,03/01/2019 12:00:00 AM,Personal Vehicles,1612,POINT (-96.82024 48.84911000000001)
13,Derby Line,Vermont,209,US-Canada Border,03/01/2019 12:00:00 AM,Buses,80,POINT (-72.09944 45.005)
14,Sarles,North Dakota,3409,US-Canada Border,03/01/2019 12:00:00 AM,Personal Vehicle Passengers,509,POINT (-98.99457 48.941050000000004)

In [5]:
#see the last 10 entries
df.tail(10)

,Port Name,State,Port Code,Border,Date,Measure,Value,Location
346723,Trout River,New York,715,US-Canada Border,01/01/1996 12:00:00 AM,Pedestrians,12,POINT (-74.31 44.99)
346724,Otay Mesa,California,2506,US-Mexico Border,01/01/1996 12:00:00 AM,Truck Containers Empty,20862,POINT (-116.94 32.55)
346725,Northgate,North Dakota,3406,US-Canada Border,01/01/1996 12:00:00 AM,Trucks,1107,POINT (-102.27 49)
346726,Turner,Montana,3306,US-Canada Border,01/01/1996 12:00:00 AM,Rail Containers Empty,0,POINT (-108.39 49)
346727,Fort Kent,Maine,110,US-Canada Border,01/01/1996 12:00:00 AM,Trucks,1333,POINT (-68.6 47.25)
346728,Norton,Vermont,211,US-Canada Border,01/01/1996 12:00:00 AM,Personal Vehicle Passengers,9119,POINT (-71.79 45.01)
346729,Columbus,New Mexico,2406,US-Mexico Border,01/01/1996 12:00:00 AM,Personal Vehicles,29486,POINT (-107.63 31.78)
346730,Hansboro,North Dakota,3415,US-Canada Border,01/01/1996 12:00:00 AM,Rail Containers Full,0,POINT (-99.35 49)
346731,Calexico East,California,2507,US-Mexico Border,01/01/1996 12:00:00 AM,Buses,0,POINT (-115.39 32.67)
346732,Presidio,Texas,2403,US-Mexico Border,01/01/1996 12:00:00 AM,Trucks,347,POINT (-104.39000000000001 29.56)

In [6]:
#number of observations
df.shape

(346733, 8)

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 346733 entries, 0 to 346732
Data columns (total 8 columns):
Port Name    346733 non-null object
State        346733 non-null object
Port Code    346733 non-null int64
Border       346733 non-null object
Date         346733 non-null object
Measure      346733 non-null object
Value        346733 non-null int64
Location     346733 non-null object
dtypes: int64(2), object(6)
memory usage: 21.2+ MB

In [8]:
#how is dataset indexed

df.index

RangeIndex(start=0, stop=346733, step=1)

In [9]:
#columns info
df.columns

Index(['Port Name', 'State', 'Port Code', 'Border', 'Date', 'Measure', 'Value',
       'Location'],
      dtype='object')

In [10]:
#datatypes of columns
df.dtypes

Port Name    object
State        object
Port Code     int64
Border       object
Date         object
Measure      object
Value         int64
Location     object
dtype: object

In [12]:
#check number of borders
borders = data.Border.unique()
borders

array(['US-Mexico Border', 'US-Canada Border'], dtype=object)

In [19]:
#Check unique elements in portnames, portcodes, location
print(df['Port Name'].unique())
print(len(df['Port Name'].unique()))

['Calexico East' 'Van Buren' 'Otay Mesa' 'Nogales' 'Trout River'
 'Madawaska' 'Pembina' 'Progreso' 'Portal' 'Champlain-Rouses Point'
 'Opheim' 'Neche' 'Lancaster' 'Derby Line' 'Sarles' 'Wildhorse' 'Lynden'
 'Vanceboro' 'San Ysidro' 'Scobey' 'Beecher Falls' 'Calais' 'Massena'
 'Oroville' 'Hansboro' 'Ferry' 'Tecate' 'Eastport' 'Walhalla' 'Roma'
 'Naco' 'Boquillas' 'Raymond' 'Porthill' 'Norton' 'Sault Sainte Marie'
 'Antler' 'Rio Grande City' 'Del Rio' 'Sasabe' 'Highgate Springs-Alburg'
 'Del Bonita' 'Houlton' 'Metaline Falls' 'Fort Fairfield' 'Noonan'
 'Westhope' 'Blaine' 'Douglas' 'Port Huron' 'Bridgewater' 'Santa Teresa'
 'Lukeville' 'Roseau' 'Skagway' 'Fortuna' 'Frontier' 'Baudette'
 'Fort Kent' 'Grand Portage' 'Buffalo-Niagara Falls' 'Calexico'
 'Pinecreek' 'Northgate' 'Sherwood' 'Laurier' 'Detroit' 'Jackman'
 'Ambrose' 'Turner' 'Dunseith' 'Boundary' 'Sumas' 'Alexandria Bay'
 'Eagle Pass' 'Carbury' 'Sweetgrass' 'Piegan' 'Tornillo-Fabens' 'El Paso'
 'Port Angeles' 'San Luis' 'Danville' 'Nighthawk' 'Warroad' 'Whitlash'
 'Maida' 'Limestone' 'Andrade' 'Hidalgo' 'Richford' 'Point Roberts'
 'International Falls-Ranier' 'St. John' 'Columbus' 'Brownsville'
 'Presidio' 'Ogdensburg' 'Anacortes' 'Morgan' 'Willow Creek' 'Roosville'
 'Laredo' 'Hannah' 'Ketchikan' 'Alcan' 'Dalton Cache'
 'Cross Border Xpress' 'Friday Harbor' 'Algonac' 'Portland' 'Cape Vincent'
 'Toledo-Sandusky' 'Whitetail' 'Noyes' 'Bar Harbor']
116

In [18]:
print(len(df['Port Code'].unique()))

117

In [17]:
print(len(df['Location'].unique()))

224

In [20]:
#ports with highest number of border crosses
df['Port Name'].value_counts().head(10)

Eastport                  5541
Buffalo-Niagara Falls     3348
Portal                    3348
Nogales                   3348
El Paso                   3348
Sweetgrass                3348
Sumas                     3348
Champlain-Rouses Point    3348
Calexico East             3348
Calais                    3348
Name: Port Name, dtype: int64

In [21]:
#total number of border crosses at CANADA and MEXICO borders

df.Border.value_counts()

US-Canada Border    266187
US-Mexico Border     80546
Name: Border, dtype: int64

In [22]:
#time at which highest crossing occurred
df.Date.value_counts().head(10)

08/01/2010 12:00:00 AM    1356
06/01/2010 12:00:00 AM    1356
09/01/2010 12:00:00 AM    1356
07/01/2010 12:00:00 AM    1356
05/01/2010 12:00:00 AM    1356
10/01/2010 12:00:00 AM    1356
10/01/2006 12:00:00 AM    1344
07/01/2006 12:00:00 AM    1344
11/01/2010 12:00:00 AM    1344
05/01/2006 12:00:00 AM    1344
Name: Date, dtype: int64

In [23]:
#Type of crossings

df.Measure.value_counts().head(10)

Personal Vehicles              30219
Personal Vehicle Passengers    30196
Trucks                         29856
Truck Containers Empty         29757
Truck Containers Full          29694
Buses                          28822
Bus Passengers                 28820
Pedestrians                    28697
Trains                         27708
Rail Containers Empty          27684
Name: Measure, dtype: int64

In [24]:
#summarize all columns
df.describe(include='all')

,Port Name,State,Port Code,Border,Date,Measure,Value,Location
count,346733,346733,346733.000000,346733,346733,346733,3.467330e+05,346733
unique,116,15,NaN,2,279,12,NaN,224
top,Eastport,North Dakota,NaN,US-Canada Border,08/01/2010 12:00:00 AM,Personal Vehicles,NaN,POINT (-83.04 42.32)
freq,5541,57071,NaN,266187,1356,30219,NaN,3069
mean,NaN,NaN,2455.504910,NaN,NaN,NaN,2.818767e+04,NaN
std,NaN,NaN,1201.208459,NaN,NaN,NaN,1.518588e+05,NaN
min,NaN,NaN,101.000000,NaN,NaN,NaN,0.000000e+00,NaN
25%,NaN,NaN,2304.000000,NaN,NaN,NaN,0.000000e+00,NaN
50%,NaN,NaN,3013.000000,NaN,NaN,NaN,9.000000e+01,NaN
75%,NaN,NaN,3402.000000,NaN,NaN,NaN,2.483000e+03,NaN
max,NaN,NaN,4105.000000,NaN,NaN,NaN,4.447374e+06,NaN