In [1]:
import pandas as pd

In [2]:
#read the dataset
df = pd.read_csv(r'BrentOilPrices.csv')

In [3]:
#check the entries of dataset
print(df.head(10))
print()
print(df.tail(10))

           Date  Price
0  May 20, 1987  18.63
1  May 21, 1987  18.45
2  May 22, 1987  18.55
3  May 25, 1987  18.60
4  May 26, 1987  18.63
5  May 27, 1987  18.60
6  May 28, 1987  18.60
7  May 29, 1987  18.58
8  Jun 01, 1987  18.65
9  Jun 02, 1987  18.68

              Date  Price
8206  Sep 17, 2019  65.59
8207  Sep 18, 2019  64.29
8208  Sep 19, 2019  64.25
8209  Sep 20, 2019  65.23
8210  Sep 23, 2019  64.66
8211  Sep 24, 2019  64.13
8212  Sep 25, 2019  62.41
8213  Sep 26, 2019  62.08
8214  Sep 27, 2019  62.48
8215  Sep 30, 2019  60.99

In [6]:
#findout number of columns and rows
print(df.info())
print(df.shape)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8216 entries, 0 to 8215
Data columns (total 2 columns):
Date     8216 non-null object
Price    8216 non-null float64
dtypes: float64(1), object(1)
memory usage: 128.5+ KB
None
(8216, 2)

In [9]:
#print names of columns
df.columns

Index(['Date', 'Price'], dtype='object')

In [22]:
#summarize the columns

df.describe(include='all')

                Date        Price
count           8216  8216.000000
unique          8216          NaN
top     May 14, 2015          NaN
freq               1          NaN
mean             NaN    46.332605
std              NaN    32.704113
min              NaN     9.100000
25%              NaN    18.730000
50%              NaN    31.260000
75%              NaN    67.432500
max              NaN   143.950000

In [23]:
df.dtypes

Date      object
Price    float64
dtype: object

In [25]:
#convert date object to datetime
df.Date = pd.to_datetime(df.Date)

In [26]:
df.dtypes

Date     datetime64[ns]
Price           float64
dtype: object

In [28]:
df.describe(include='all')

                       Date        Price
count                  8216  8216.000000
unique                 8216          NaN
top     1989-12-27 00:00:00          NaN
freq                      1          NaN
first   1987-05-20 00:00:00          NaN
last    2019-09-30 00:00:00          NaN
mean                    NaN    46.332605
std                     NaN    32.704113
min                     NaN     9.100000
25%                     NaN    18.730000
50%                     NaN    31.260000
75%                     NaN    67.432500
max                     NaN   143.950000

In [32]:
#price was highest
max(df.Price)

143.95

In [33]:
#lowest price
min(df.Price)

9.1

In [34]:
#date on which price was highest
df.loc[df['Price'].idxmax()]

Date     2008-07-03 00:00:00
Price                 143.95
Name: 5373, dtype: object

In [35]:
#date on which price was lowest
df.loc[df['Price'].idxmin()]

Date     1998-12-10 00:00:00
Price                    9.1
Name: 2937, dtype: object