In [1]:
import pandas as pd

In [21]:
#import dataset and read it

url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'

df = pd.read_csv(url, sep = '\t')

In [22]:
print(df.head(10))
print()
print(df.info())
print()
print(df.tail(10))
print()
print(df.columns)

   order_id  quantity                              item_name  \
0         1         1           Chips and Fresh Tomato Salsa
1         1         1                                   Izze
2         1         1                       Nantucket Nectar
3         1         1  Chips and Tomatillo-Green Chili Salsa
4         2         2                           Chicken Bowl
5         3         1                           Chicken Bowl
6         3         1                          Side of Chips
7         4         1                          Steak Burrito
8         4         1                       Steak Soft Tacos
9         5         1                          Steak Burrito

                                  choice_description item_price
0                                                NaN     $2.39
1                                       [Clementine]     $3.39
2                                            [Apple]     $3.39
3                                                NaN     $2.39
4  [Tomatillo-Red Chili Salsa (Hot), [Black Beans...    $16.98
5  [Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...    $10.98
6                                                NaN     $1.69
7  [Tomatillo Red Chili Salsa, [Fajita Vegetables...    $11.75
8  [Tomatillo Green Chili Salsa, [Pinto Beans, Ch...     $9.25
9  [Fresh Tomato Salsa, [Rice, Black Beans, Pinto...     $9.25

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
order_id              4622 non-null int64
quantity              4622 non-null int64
item_name             4622 non-null object
choice_description    3376 non-null object
item_price            4622 non-null object
dtypes: int64(2), object(3)
memory usage: 180.6+ KB
None

      order_id  quantity            item_name  \
4612      1831         1        Carnitas Bowl
4613      1831         1                Chips
4614      1831         1        Bottled Water
4615      1832         1   Chicken Soft Tacos
4616      1832         1  Chips and Guacamole
4617      1833         1        Steak Burrito
4618      1833         1        Steak Burrito
4619      1834         1   Chicken Salad Bowl
4620      1834         1   Chicken Salad Bowl
4621      1834         1   Chicken Salad Bowl

                                     choice_description item_price
4612  [Fresh Tomato Salsa, [Fajita Vegetables, Rice,...     $9.25
4613                                                NaN     $2.15
4614                                                NaN     $1.50
4615   [Fresh Tomato Salsa, [Rice, Cheese, Sour Cream]]     $8.75
4616                                                NaN     $4.45
4617  [Fresh Tomato Salsa, [Rice, Black Beans, Sour ...    $11.75
4618  [Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...    $11.75
4619  [Fresh Tomato Salsa, [Fajita Vegetables, Pinto...    $11.25
4620  [Fresh Tomato Salsa, [Fajita Vegetables, Lettu...     $8.75
4621  [Fresh Tomato Salsa, [Fajita Vegetables, Pinto...     $8.75

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

In [23]:
print(df.shape)
print()
print(df.describe(include='all'))
print()
print(df.dtypes)

(4622, 5)

           order_id     quantity     item_name choice_description item_price
count   4622.000000  4622.000000          4622               3376       4622
unique          NaN          NaN            50               1043         78
top             NaN          NaN  Chicken Bowl        [Diet Coke]     $8.75
freq            NaN          NaN           726                134        730
mean     927.254868     1.075725           NaN                NaN        NaN
std      528.890796     0.410186           NaN                NaN        NaN
min        1.000000     1.000000           NaN                NaN        NaN
25%      477.250000     1.000000           NaN                NaN        NaN
50%      926.000000     1.000000           NaN                NaN        NaN
75%     1393.000000     1.000000           NaN                NaN        NaN
max     1834.000000    15.000000           NaN                NaN        NaN

order_id               int64
quantity               int64
item_name             object
choice_description    object
item_price            object
dtype: object

1. how many products cost more than $10.00

In [24]:
#1. how many products cost more than $10.00

#item_price has object datatype that needs to be changed to float
prices = [float(value[1:-1]) for value in df.item_price]
df.item_price = prices

In [28]:
df.dtypes

order_id                int64
quantity                int64
item_name              object
choice_description     object
item_price            float64
dtype: object

In [29]:
#how many products cost more than $10.00 for one item only

#drop duplicates in item_names
df_filtered = df.drop_duplicates(['item_name','quantity'])

In [30]:
#select only the products with quantity equals to 1
df_one_prod = df_filtered[df_filtered.quantity == 1]
df_one_prod[df_one_prod['item_price']>10].item_name.nunique()

12

In [36]:
print(df.item_price.value_counts().head(10))
print(df.item_price.value_counts().tail(10))

8.75     730
11.25    521
9.25     398
4.45     349
8.49     311
11.75    284
1.25     264
8.99     246
2.15     192
2.95     174
Name: item_price, dtype: int64
32.94    1
6.45     1
13.52    1
5.07     1
17.80    1
10.50    1
22.96    1
11.49    1
35.25    1
11.80    1
Name: item_price, dtype: int64

In [42]:
#There are 12 items with exact price as 10$
len(df_one_prod.loc[df.item_price>10])

12

2. What is the price of each item

In [61]:
#print a dataframe with only two columns item_name and item_price
#Use the dataframe with no duplicates
#first print unique items

print(df_one_prod.item_name.unique())

['Chips and Fresh Tomato Salsa' 'Izze' 'Nantucket Nectar'
 'Chips and Tomatillo-Green Chili Salsa' 'Chicken Bowl' 'Side of Chips'
 'Steak Burrito' 'Steak Soft Tacos' 'Chips and Guacamole'
 'Chicken Crispy Tacos' 'Chicken Soft Tacos' 'Chicken Burrito'
 'Barbacoa Burrito' 'Carnitas Burrito' 'Canned Soda' 'Carnitas Bowl'
 'Bottled Water' 'Chips and Tomatillo Green Chili Salsa' 'Barbacoa Bowl'
 'Chips' 'Chicken Salad Bowl' 'Steak Bowl' 'Barbacoa Soft Tacos'
 'Veggie Burrito' 'Veggie Bowl' 'Steak Crispy Tacos'
 'Chips and Tomatillo Red Chili Salsa' 'Barbacoa Crispy Tacos'
 'Veggie Salad Bowl' 'Chips and Roasted Chili-Corn Salsa'
 'Chips and Roasted Chili Corn Salsa' 'Carnitas Soft Tacos'
 'Chicken Salad' 'Canned Soft Drink' '6 Pack Soft Drink'
 'Chips and Tomatillo-Red Chili Salsa' 'Burrito' 'Crispy Tacos'
 'Carnitas Crispy Tacos' 'Steak Salad Bowl' 'Steak Salad' 'Bowl'
 'Chips and Mild Fresh Tomato Salsa' 'Veggie Soft Tacos'
 'Carnitas Salad Bowl' 'Barbacoa Salad Bowl' 'Salad' 'Veggie Crispy Tacos'
 'Veggie Salad' 'Carnitas Salad']

In [77]:
price_per_item = df_one_prod[['item_name', 'item_price']]

In [79]:
price_per_item.sort_values(by = 'item_price', ascending=False).head(20)

                  item_name  item_price
606        Steak Salad Bowl       11.89
1229    Barbacoa Salad Bowl       11.89
1132    Carnitas Salad Bowl       11.89
7             Steak Burrito       11.75
168   Barbacoa Crispy Tacos       11.75
39            Barbacoa Bowl       11.75
738       Veggie Soft Tacos       11.25
186       Veggie Salad Bowl       11.25
62              Veggie Bowl       11.25
57           Veggie Burrito       11.25
250           Chicken Salad       10.98
5              Chicken Bowl       10.98
8          Steak Soft Tacos        9.25
554   Carnitas Crispy Tacos        9.25
237     Carnitas Soft Tacos        9.25
56      Barbacoa Soft Tacos        9.25
92       Steak Crispy Tacos        9.25
664             Steak Salad        8.99
54               Steak Bowl        8.99
3750         Carnitas Salad        8.99

In [80]:
price_per_item.sort_values(by = 'item_price', ascending=False).tail(20)

                                 item_name  item_price
510                                Burrito        7.40
520                           Crispy Tacos        7.40
673                                   Bowl        7.40
298                      6 Pack Soft Drink        6.49
10                     Chips and Guacamole        4.45
1                                     Izze        3.39
2                         Nantucket Nectar        3.39
674      Chips and Mild Fresh Tomato Salsa        3.00
111    Chips and Tomatillo Red Chili Salsa        2.95
233     Chips and Roasted Chili Corn Salsa        2.95
38   Chips and Tomatillo Green Chili Salsa        2.95
3    Chips and Tomatillo-Green Chili Salsa        2.39
300    Chips and Tomatillo-Red Chili Salsa        2.39
191     Chips and Roasted Chili-Corn Salsa        2.39
0             Chips and Fresh Tomato Salsa        2.39
40                                   Chips        2.15
6                            Side of Chips        1.69
263                      Canned Soft Drink        1.25
28                             Canned Soda        1.09
34                           Bottled Water        1.09

3. Sort by name of the item

In [82]:
df.item_name.sort_values

<bound method Series.sort_values of 0                Chips and Fresh Tomato Salsa
1                                        Izze
2                            Nantucket Nectar
3       Chips and Tomatillo-Green Chili Salsa
4                                Chicken Bowl
5                                Chicken Bowl
6                               Side of Chips
7                               Steak Burrito
8                            Steak Soft Tacos
9                               Steak Burrito
10                        Chips and Guacamole
11                       Chicken Crispy Tacos
12                         Chicken Soft Tacos
13                               Chicken Bowl
14                        Chips and Guacamole
15      Chips and Tomatillo-Green Chili Salsa
16                            Chicken Burrito
17                            Chicken Burrito
18                                Canned Soda
19                               Chicken Bowl
20                        Chips and Guacamole
21                           Barbacoa Burrito
22                           Nantucket Nectar
23                            Chicken Burrito
24                                       Izze
25               Chips and Fresh Tomato Salsa
26                               Chicken Bowl
27                           Carnitas Burrito
28                                Canned Soda
29                            Chicken Burrito
                        ...
4592                         Barbacoa Burrito
4593                            Carnitas Bowl
4594                            Barbacoa Bowl
4595                             Chicken Bowl
4596                      Chips and Guacamole
4597                        Canned Soft Drink
4598                            Bottled Water
4599                             Chicken Bowl
4600                      Chips and Guacamole
4601                        Canned Soft Drink
4602                         Barbacoa Burrito
4603                         Barbacoa Burrito
4604                             Chicken Bowl
4605                      Chips and Guacamole
4606                        Canned Soft Drink
4607                            Steak Burrito
4608                           Veggie Burrito
4609                        Canned Soft Drink
4610                            Steak Burrito
4611                           Veggie Burrito
4612                            Carnitas Bowl
4613                                    Chips
4614                            Bottled Water
4615                       Chicken Soft Tacos
4616                      Chips and Guacamole
4617                            Steak Burrito
4618                            Steak Burrito
4619                       Chicken Salad Bowl
4620                       Chicken Salad Bowl
4621                       Chicken Salad Bowl
Name: item_name, Length: 4622, dtype: object>

4. Quantity of most expensive item ordered

In [85]:
print("most expensive item: ",max(df.item_price))
print("least expensive item: ", min(df.item_price))

most expensive item:  44.25
least expensive item:  1.09

5. How many times were a Veggie salad bowl ordered

In [90]:
len(df.loc[df.item_name == "Veggie Salad Bowl"])

18

6. How many times people ordered more than one Canned Soda?

In [94]:
# total number of times canned soda was ordered
df.item_name[df.item_name == "Canned Soda"].value_counts()

Canned Soda    104
Name: item_name, dtype: int64

In [101]:
#canned soda more than once ordered
len(df[(df.item_name == "Canned Soda") & (df.quantity > 1)])

20

In [102]:
df[(df.item_name == "Canned Soda") & (df.quantity > 1)]

      order_id  quantity    item_name choice_description  item_price
18           9         2  Canned Soda           [Sprite]        2.18
51          23         2  Canned Soda     [Mountain Dew]        2.18
162         73         2  Canned Soda        [Diet Coke]        2.18
171         76         2  Canned Soda  [Diet Dr. Pepper]        2.18
350        150         2  Canned Soda        [Diet Coke]        2.18
352        151         2  Canned Soda        [Coca Cola]        2.18
698        287         2  Canned Soda        [Coca Cola]        2.18
700        288         2  Canned Soda        [Coca Cola]        2.18
909        376         2  Canned Soda     [Mountain Dew]        2.18
1091       450         2  Canned Soda       [Dr. Pepper]        2.18
1092       450         2  Canned Soda        [Coca Cola]        2.18
1944       787         2  Canned Soda       [Dr. Pepper]        2.18
2135       859         2  Canned Soda        [Diet Coke]        2.18
2235       901         4  Canned Soda           [Sprite]        4.36
2905      1156         2  Canned Soda        [Coca Cola]        2.18
2906      1156         2  Canned Soda           [Sprite]        2.18
3152      1258         2  Canned Soda       [Dr. Pepper]        2.18
3364      1349         2  Canned Soda        [Coca Cola]        2.18
3592      1440         2  Canned Soda        [Diet Coke]        2.18
3866      1550         2  Canned Soda     [Mountain Dew]        2.18